.table-header {
    border: 2px solid black;
}

.table-row {
    border: 2px solid black;
}
tr.mat-footer-row {
    font-weight: bold;
}
table {
    width: 100%;
}

.product-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid rgb(187, 169, 169);
    margin: 16px;
}