<div class="app-toolbar">
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="clickMenu()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" (click)="authentication()">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" (click)="changeTheme($event)">
            <mat-icon>invert_colors</mat-icon>
        </button>
    </mat-toolbar>
</div>