<div class="app-toolbar toolbar-content">
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="clickMenu()">
            <mat-icon>menu</mat-icon>
        </button>
        <span [routerLink]="['/']" class="cursor">My App</span>
        <span class="example-spacer"></span>
        <button *ngIf="!isLoggedIn" mat-icon-button class="example-icon favorite-icon" (click)="authentication()">
            <mat-icon>login</mat-icon>
        </button>
        <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button *ngIf="isAdmin" mat-menu-item (click)="goToManageProduct()">
                Manage Products
            </button>
            <button *ngIf="isAdmin" [routerLink]="['/admin/orders']" mat-menu-item>
                Manage Orders
            </button>
            <button *ngIf="!isAdmin" [routerLink]="['/my-orders']" mat-menu-item>
                My Orders
            </button>
            <button mat-menu-item (click)="logOut()">
                Log out
            </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="cartMenu">
            <mat-icon [matBadge]="cartTotalItems" matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
        <mat-menu #cartMenu="matMenu">
            <app-cart-menu></app-cart-menu>
        </mat-menu>
        <button mat-icon-button class="example-icon" (click)="changeTheme($event)">
            <mat-icon>invert_colors</mat-icon>
        </button>
    </mat-toolbar>
</div>