<mat-card>
    <div fxLayout="column">
        <div>
            <h3>Add Product</h3>
        </div>
        <div>
            <form [formGroup]="addProductForm">
                <div fxLayout="column" fxLayoutGap="32px">
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Title</mat-label>
                            <input matInput placeholder="title" formControlName="title" required>
                            <mat-error *ngIf="addProductForm.get('title').hasError('required')">{{'Title required'}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Company</mat-label>
                            <input matInput placeholder="company" formControlName="company" required>
                            <mat-error *ngIf="addProductForm.get('company').hasError('required')">{{'Company required'}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <input matInput placeholder="description" formControlName="description" required>
                            <mat-error *ngIf="addProductForm.get('description').hasError('required')">
                                {{'Description required'}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-checkbox formControlName="featured">Featured</mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox formControlName="freeShipping">Free Shipping</mat-checkbox>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Price</mat-label>
                            <input matInput placeholder="price" formControlName="price" type="number" required>
                            <mat-error *ngIf="addProductForm.get('price').hasError('required')">{{'Price required'}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <!-- <mat-form-field appearance="outline">
                            <mat-label>Image</mat-label>
                            <input placeholder="image" formControlName="image" type="file" required>
                            <mat-error *ngIf="addProductForm.get('image').hasError('required')">{{'Image required'}}
                            </mat-error>
                        </mat-form-field> -->
                        <input placeholder="image" formControlName="image" type="file" #imageInput (change)="processFile(imageInput)" required>
                    </div>
                    <div fxLayout="row" fxLayoutGap="32px">
                        <div>
                            <button mat-raised-button color="primary" (click)="onSubmit()">
                                Add
                            </button>
                        </div>
                        <div>
                            <button mat-raised-button color="warn">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</mat-card>