<div fxLayout="column" fxLayoutAlign="center center" class="home">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input #query (input)="filter($event.target.value)" matInput placeholder="Search">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="!loading && !noItem" fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
            <div class="product-card" *ngFor="let product of products">
                <app-product-card [product]="product" (addToCart)="cartManager($event)"></app-product-card>
            </div>
        </div>
        
    </div>
    
    <div *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="noItem">
        No products matched your search!
    </div>

    <div>
        <mat-paginator [length]="paginatorProperties.length" 
        [pageSize]="paginatorProperties.pageSize" 
        [pageSizeOptions]="paginatorProperties.pageSizeOptions"
        [showFirstLastButtons]="'true'"
        (page)="pageEvent($event)">
        </mat-paginator>
    </div>
</div>