.overview {
    padding: 16px;
    height: 100vh;
}

.banner {
    width: 100%;
}

.product-card {
    //flex: 1 1 auto;
    max-width: 300px;
    padding: 16px;
}

.featured-products {
    width: 100%;
    background-color: rgb(248, 227, 123);
}

.loader {
    padding: 32px;
}

.header {
    text-transform: capitalize;
    font-size: 32px;
    padding: 16px;
}

.products-btn {
    text-align: center;
    margin: 16px;
}