<mat-card>
    <div fxLayout="column">
        <div>
            <b>Customer Name:</b> {{orderDetails.cusName}}
        </div>
        <div>
            <b>Customer Address:</b> {{orderDetails.address}}
        </div>
        <div>
            <b>Ordered Products:</b>
            <ul>
                <li *ngFor="let prod of orderDetails.products">
                    {{prod.title}} : {{prod.count}} x {{prod.total}}
                </li>
            </ul>
        </div>
        <div>
            <b>Order Total:</b> {{orderDetails.total}}
        </div>
        <div>
            <mat-chip-list>
                <mat-chip color="accent" selected>
                    <b>Status:</b> {{orderDetails.status}}
                </mat-chip>
            </mat-chip-list>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <button mat-icon-button (click)="chageOrderStatus(orderDetails._id)">
                <mat-icon>autorenew</mat-icon>
            </button>
            <div>
                <b>Change Status</b>
            </div>
        </div>
    </div>
</mat-card>