$small: 600px;
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav-main {
    position: fixed;
    padding-top: 64px;

    @media screen and (max-width: $small) {
        padding-top: 56px;
    }
  }

  .sidenav-content {
    padding: 16px;
  }
  