<mat-drawer class="sidenav-main" #drawer mode="over" [autoFocus]="false">
    <div class="sidenav-content">
        <div  [routerLink]="['/']" class="sidenav-item" (click)="onClickSideNavItem()">
            <mat-icon>home</mat-icon>
            Home
        </div>
        <div  [routerLink]="['/products']" class="sidenav-item" (click)="onClickSideNavItem()">
            <mat-icon>shopping_basket</mat-icon>
            All Products
        </div>
        <div *ngIf="authenticatedAsAdmin" [routerLink]="['/admin/products']" class="sidenav-item" (click)="onClickSideNavItem()">
            <mat-icon>dashboard</mat-icon>
            Manage products
        </div>
        <div *ngIf="authenticatedAsAdmin" [routerLink]="['/admin/orders']" class="sidenav-item" (click)="onClickSideNavItem()">
            <mat-icon>receipt</mat-icon>
            Manage orders
        </div>
        <div *ngIf="!authenticatedAsAdmin && authenticated" [routerLink]="['/my-orders']" class="sidenav-item" (click)="onClickSideNavItem()">
            <mat-icon>receipt</mat-icon>
            My orders
        </div>
        <div *ngIf="authenticatedAsAdmin" [routerLink]="['/admin/settings']" class="sidenav-item" (click)="onClickSideNavItem()">
            <mat-icon>settings</mat-icon>
            Settings
        </div>
    </div>
</mat-drawer>