.table-header {
    border: 2px solid black;
}

.table-row {
    border: 2px solid black;
}

table {
    width: 100%;
}

::ng-deep {
    app-my-orders {
        .mat-card {
            height: 100vh;
        }
    }
}