<mat-card>
    <div fxLayout="column">
        <div *ngIf="!loading && !noItem">
            <table mat-table [dataSource]="myOrders" class="mat-elevation-z8">

                <ng-container matColumnDef="products">
                    <th mat-header-cell *matHeaderCellDef> Products </th>
                    <td mat-cell *matCellDef="let element">
                        <ul>
                            <li *ngFor="let prod of element.products">
                                {{prod.title}} : {{prod.count}} x {{prod.total}}
                            </li>
                        </ul>
                    </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total </th>
                    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <div *ngIf="loading">
                <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="noItem">
                You have not ordered any products yet!
            </div>
        </div>
    </div>
</mat-card>