<div fxLayout="column" fxLayoutAlign="center center" class="cart">
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
        <div *ngFor="let item of cart" fxLayout="column" fxLayoutAlign="center start" class="cart-item">
            <h3>Title :{{item.title}}</h3>
            <p>Count :{{item.count}}</p>
            <p>Price :{{item.total}}</p>
        </div>
    </div>
    <div>
        <h3>Cart Total: {{cartTotal}}</h3>
    </div>
    <div>
        <button mat-raised-button color="primary" [routerLink]="['/shopping-cart']">
            Go to cart
        </button>
    </div>
</div>