<mat-card>
    <div fxLayout.gt-xs="row" fxLayout="column" fxLayoutAlign.gt-xs="space-between center" fxLayoutAlign="center start" fxLayoutGap="16px">
        <div fxFlex.gt-xs="48" fxFlex="100" fxLayout="column" class="box order-form">
            <div class="title">
                Your order summary:
            </div>
            <div class="cart-list" fxLayout="column" fxLayoutGap="16px">
                <div *ngFor="let item of cart" class="cart-item">
                    {{item.title}} {{'x'}} {{item.count}}
                </div>
                <div class="total-text">
                    {{'Total: '}} {{totalCost}}
                </div>
            </div>
        </div>
        
        <div fxFlex.gt-xs="48" fxFlex="100" fxLayout="column" class="box order-form" >
            <div class="title">
                Enter your details:
            </div>
            <div class="form-wrapper">
                <form [formGroup]="checkoutForm">
                    <div fxLayout="column" fxLayoutGap="32px">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Your name</mat-label>
                                <input matInput placeholder="Name" formControlName="cusName">
                                <mat-error *ngIf="checkoutForm.get('cusName').hasError('required')">{{'Name required'}}
                                </mat-error>
                                <mat-error *ngIf="checkoutForm.get('cusName').hasError('maxLength')">{{'Max length'}} {{checkoutForm.controls['cusName'].error.maxLength.requiredLength}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Your address</mat-label>
                                <input matInput placeholder="Address" formControlName="address">
                                <mat-error *ngIf="checkoutForm.get('address').hasError('required')">
                                    {{'Address required'}}
                                </mat-error>
                                <mat-error *ngIf="checkoutForm.get('address').hasError('maxLength')">{{'Max length'}}{{checkoutForm.controls['address'].error.maxLength.requiredLength}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Your contact number</mat-label>
                                <input matInput placeholder="Contact number" formControlName="contact">
                                <mat-error *ngIf="checkoutForm.get('contact').hasError('required')">
                                    {{'Contact number required'}}
                                </mat-error>
                                <mat-error *ngIf="checkoutForm.get('contact').hasError('maxLength')">
                                    {{'Max length'}}{{checkoutForm.controls['contact'].error.maxLength.requiredLength}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div fxLayout="row" fxLayoutGap="32px">
                <div>
                    <button mat-raised-button color="warn" [routerLink]="['/shopping-cart']">
                        Cancel
                    </button>
                </div>
                <div>
                    <button mat-raised-button color="primary" [disabled]="!checkoutForm.valid" (click)="onOrder()">
                        Place order
                    </button>
                </div>
            </div>
        </div>
    </div>
</mat-card>